@page "/changePassword/"
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/User/_LayoutUser.cshtml";
    ViewData["Title"] = "Thay đổi thông tin";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading" style="font-size: x-large; font-weight: bold;">
            Thay đổi mật khẩu
        </div>
        <div class="panel-body">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Mật khẩu hiện tại</label>
                    <input asp-for="Input.OldPassword" class="form-control" />
                    @*<span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    @*<span asp-validation-for="Input.NewPassword" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label>Xác nhận lại mật khẩu</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                   @* <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                </div>
                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            </form>
            




        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}