@page "/admin/role/create"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.CreateModel
@{
    ViewData["Title"] = "Thêm Role";

    Layout = "~/Views/Shared/Admin/_Dashboard.cshtml";
}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @*<section class="content-header">



    </section>*@

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Thêm người dùng</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <form role="form" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Tên role</label>
                                <input asp-for="Input.Name" class="form-control" id="exampleInputEmail1" placeholder="Tên Role">
                                @*<span asp-validation-for="Input.Name" class="text-danger"></span>*@
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Tạo Role</button>
                        </div>
                    </form>
                </div><!-- /.box -->


            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->

</div><!-- /.content-wrapper -->
