@page "/admin/role/create"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.CreateModel
@{
    Layout = "~/Views/Shared/Admin/_Dashboard.cshtml";
}

<div class="box box-primary col-md-3">
    <div class="box-header col-md-3 ">
        <h3 class="box-title">Quick Example</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
   
        <div class="box-body col-md-3">
            <div class="form-group">
                <label >Tên role</label>
                <input asp-for="Input.Name" class="form-control" id="exampleInputEmail1" placeholder="Tên Role">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group"><button type="submit" class="btn btn-primary">Tạo Role</button></div>
        </div><!-- /.box-body -->

     
   
</div><!-- /.box -->


