@page "/admin/role/delete-role/{roleid}"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.DeletetModel
@{
    Layout = "Admin/_Dashboard";
}

<div class="box box-primary col-md-3">
    <div class="box-header col-md-3">
        <h3 class="box-title">Chỉnh sửa Role</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post">
        <div class="box-body col-md-3">
            <div class="form-group">
                <label >Bạn có chắc chắn muốn xóa <strong>@Model.role.Name</strong></label>
               
            </div>
        </div><!-- /.box-body -->

        <div class="box-footer col-md-3">
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a class="btn btn-primary" asp-page="./Index">Danh sách Role</a>
        </div>
    </form>
</div><!-- /.box -->


