@page "/admin/role/delete-role/{roleid}"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.DeletetModel
@{
    ViewData["Title"] = "Xóa Role";

    Layout = "Admin/_Dashboard";
}

<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @*<section class="content-header">



    </section>*@

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Chỉnh sửa role</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Bạn có chắc chắn muốn xóa <strong>@Model.role.Name</strong></label>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            <a class="btn btn-primary" asp-page="./Index">Danh sách Role</a>
                        </div>
                    </form>
                </div><!-- /.box -->


            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->

</div><!-- /.content-wrapper -->



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!--datatable-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

