@page "/admin/role/edit-role/{roleid}"
@model ThongNhat_Hospital.Areas.Identity.Pages.Role.EditModel
@{
    Layout = "Admin/_Dashboard";
}

<div class="box box-primary col-md-3">
    <div class="box-header col-md-3">
        <h3 class="box-title">Chỉnh sửa Role</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
        <div class="box-body col-md-3">
            
                <label >Tên role</label>
                <input asp-for="Input.Name" class="form-control" id="exampleInputEmail1" placeholder="Tên Role">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Xác nhận</button>
    </div>
       
            
</div><!-- /.box -->


