@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn khong được phân quyền để làm việc này!</p>
    <p>Vui lòng liên hệ với Admin để được thông tin chính xác nhất</p>
</header>
