@page "/login/"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "LoginLayout";
}
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" method="post">
    <div class="form-group has-feedback">
        <input type="text" asp-for="Input.EmailOrUserName" class="form-control" placeholder="Email hoặc tài khoản" />
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        @*<span asp-validation-for="Input.EmailOrUserName" ></span>*@
    </div>
    <div class="form-group has-feedback">
        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Mật khẩu" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @*<span asp-validation-for="Input.Password"></span>*@
        
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" type="checkbox"> Remember Me
                </label>
            </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
        </div><!-- /.col -->
    </div>
</form>