@model ThongNhat_Hospital.Models.CTDH

@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/User/_LayoutUser.cshtml";
}
<style>
    .wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
    h3 {
            font-size: 30px;
            font-weight: bold;
            color: #0190df;
            padding-bottom: 20px;
            border-bottom: 2px solid #1261b0;
            margin-bottom: 10px;
        }
/*img {
  position: absolute;
  left: 0;
  top: 0;
}*/

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
}
    h3 {
            font-size: 30px;
            font-weight: bold;
            color: #0190df;
            padding-bottom: 20px;
            border-bottom: 2px solid #1261b0;
            margin-bottom: 10px;
        }
    thead {
        background-color: #1261b0;
        color: #fff;
    }
</style>
<h3> Danh sách file nhận</h3>
<div class="col-md-12">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td style="font-family:Verdana; font-size:14px; font-weight:bold; width:70%;">Tên File</td>
        <td style="font-family:Verdana; font-size:14px; font-weight:bold; width:20%;">Xem</td>
    </tr>
    </thead>
    <tbody>
    @{
        if (ViewData["File"] != null)
        {
            if (ViewData.Values != null && ViewData.Values.Count() > 0)
            {
                foreach (var item in ViewData["File"] as List<ChiTietHang>)
                {
                            <tr>
                                <td style="font-family:Verdana; font-size:12px;">@item.filename</td>
                                <td style="font-family:Verdana; font-size:12px;">
                                    <button id="btndowload1" onclick="dowloadFile('@item.file','@item.filename')">Tải</button>
                                    </td>
                            </tr>
                }
            }
        }
    }
    </tbody>
</table>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirm" id="myform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <select asp-for="Id_HinhThuc" class="form-control hidden" asp-items="ViewBag.Id_HinhThuc"></select>
                <span asp-validation-for="Id_HinhThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Id_PhieuGiao" class="form-control hidden" asp-items="ViewBag.Id_PhieuGiao"></select>
                <span asp-validation-for="Id_PhieuGiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Id_User" class="form-control hidden" asp-items="ViewBag.Id_User"></select>
                <span asp-validation-for="Id_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="chuky" class="form-control hidden" id="signature-data" />
                <span asp-validation-for="chuky" class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <input asp-for="Thoigian" class="form-control hidden" />
                <span asp-validation-for="Thoigian" class="text-danger"></span>
            </div>
            
        </form>
        <h5>
            Ký tên để xác nhận đơn hàng <input type="button" value="Reset" class="btn btn-primary" id="clear" />
        </h5>
        <div class="wrapper">
            <img style="background-color:white;  position: absolute; left: 0;top: 0;" width=400 height=200 />
            <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
        </div>
        <div class="form-group">
            <input type="button" value="Xác nhận" class="btn btn-success" id="save" />

        </div>
        
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<script>
    var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
        backgroundColor: 'rgba(255, 255, 255, 0)',
        penColor: 'rgb(0, 0, 0)'
    });
    var signatureData = document.getElementById('signature-data');
    var saveButton = document.getElementById('save');
    var cancelButton = document.getElementById('clear');

    saveButton.addEventListener('click', function(event) {
        var data = signaturePad.toDataURL('image/png');
        console.log(data);
        signatureData.value=data;
        if(signaturePad.isEmpty()){
            alert("Phải ký tên");

        }else{
            document.getElementById('myform').submit();
        }
    });

    cancelButton.addEventListener('click', function(event) {
        signaturePad.clear();
});
</script>
<script type="text/javascript">
    function DowloadPDF(data, filename) {
        const link = data;
        const dowloadlink = document.createElement('a');
        const filename1 = filename;

        dowloadlink.href = link;
        dowloadlink.download = filename1;
        dowloadlink.click();
    }

    function dowloadFile(data, filename) {
        DowloadPDF(data, filename);
    }
</script>