@model ThongNhat_Hospital.Models.ViewModel.CTDHViewModel
@{
    ViewData["Title"] = "GIAO HÀNG ";
    Layout = "~/Views/Shared/User/_LayoutUser.cshtml";
}

@*<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            Điền thông tin phiếu giao hàng
        </div>
        <div class="panel-body">
            <form role="form" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Người dùng:</label>
                    <select asp-for="Id_User" class="form-control" asp-items="ViewBag.Id_User"></select>
                </div>
              
                <div class="form-group">
                    <label>Tên hàng:</label>
                    <input class="form-control" type="text">
                
                </div>

                <div class="form-group">
                    <label>Loại hàng</label>
                    <select asp-for="id_LoaiHang" class="form-control" asp-items="ViewBag.Id_LoaiHang"></select>
                </div>

                <div class="form-group">
                    <label>Ghi chú</label>
                    <textarea asp-for="note" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="note" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-info btn-pull-right">Xác nhận</button>

            </form>



            
        </div>
    </div>
</div>*@

