@using Microsoft.AspNetCore.Identity
@using ThongNhat_Hospital.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "Admin/_Dashboard";
}



<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

   
</div><!-- /.content-wrapper -->
