<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   

    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
       <!--CUSTOM BASIC STYLES-->
    <link href="~/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    #page-wrapper {
    min-height: 900px;
    }
    .active-menu {
        background-color: #1c558e!important;
    }
</style>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0; background-color: #1261b0;">
            <div class="navbar-header" style="background-color: #1261b0;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/images/bvtn_logoo.png" class="brand" style="width:260px ; background-color: #1c558e;" />
                <a href="#" class="sidebar-toogle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </div>

            <div class="header-right pull-right">
            </div> 
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                         <li class="dropdown user user-menu">
                        <a href="#" class="user-img-div" data-toggle="dropdown">
                            <img src="dist/img/user2-160x160.jpg" class="img-thumbnail" alt="User Image" />
                                <div class="inner-text">User</div>
                </a>

                    </li>


                    <li>
                        <a class="active-menu" href="/User/Create"><i class="fa fa-paper-plane"></i>Giao hàng</a>
                    </li>
                    <li>
                        <a class="menu" href="/User/ListNhanHang"><i class="fa fa-list-alt"></i>Nhận hàng</a>
                    </li>
                    <li>
                        <a class="menu" href="/User/Historylist"><i class="fa fa-history"></i>Xem lịch sử</a>
                    </li>
                   
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
       
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()

                    </div>
                </div>
                </div>
        </div>
</body>

<div id="footer-sec">
    &copy; 2023 - Double H - Vũ Quốc Gia Huy & Mã Phúc Huy
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
       <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
   


</html>
<script>
$(document).ready(function() {
    $('.sidebar-toggle').click(function () {
        if ($('#wrapper').hasClass('toggled')) {
            $('#wrapper').removeClass('toggled');
        } else {
            $('#wrapper').addClass('toggled');
        }
    });
});
</script>
